torch==2.6.0
torchvision
torchaudio
transformers==5.5.1
accelerate
bitsandbytes
sentencepiece
protobuf
trl
datasets
evaluate
numpy
pandas
scipy
matplotlib
seaborn
tqdm
jupyterlab
huggingface_hub
pynvml
einops
